{% extends "base.html" %}

{% block content %}
    <meta charset="UTF-8">
    {% if 'инженер' in prof or 'строитель' in prof %}
        <h2 align="center">Инженерные тренажеры</h2>
        <img src="https://w7.pngwing.com/pngs/170/782/png-transparent-stairlift-technical-drawing-elevator-apparaat-stairs-plan-angle-engineering-auto-part-thumbnail.png" alt='Здесь должна быть схема'>
    {% else %}
        <h2 align="center">Научные симуляторы</h2>
        <img src="https://bse.sci-lib.com/pictures/00/19/232244602.jpg" alt='Здесь должна быть схема'>
    {% endif %}
{% endblock content %}
